<div id="products_container">

  {{#each products}}
    <div id="products_list">
      <p>Title: {{name}}</p>
      <p>description: {{description}}</p>
      <p>stock: {{stock}}</p>
      <p>price: {{price}}</p>
      <p>category: {{category}}</p>
      <p>code: {{code}}</p>
      <img id="product_image" src="{{thumbnails}}" alt="SinImagen" srcset="" />
      <button>Agregar al carrito</button>
    </div>
  {{/each}}

</div>
<div id="container_btn">
  <button id="product_btn"><a
      href="http://localhost:8080/api/views/products?limit=5&page={{paginate.prevPage}}"
    >Prev</a></button>
  <p id="page_btn">{{paginate.page}}</p>
  <button id="product_btn"><a
      href="http://localhost:8080/api/views/products?limit=5&page={{paginate.nextPage}}"
    >Next</a></button>
</div>